body { 
    background-image: url(images/aurora.jpg);
    background-attachment: fixed;
    background-position: center bottom;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.container-title {
    line-height: 0.5em;
    padding-left: 50px;
}

#main-header {
    background-color: #262626;
    color: #18a300;
    font-family:'Acme';
    border-bottom: 5px solid #18a300;
    top: 0px;
    width: 100%;
    /* position: sticky; */
    overflow: hidden;

}

#main-header nav {
    float: right;
    padding-right: 50px;
}

#main-header li {
    display: inline-block;
}

#main-header a {
    color:#18a300;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 15px;
}
   
#main-header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.About_me {
    font-size: 20px;
    font-family:'Acme';
}

#container_about {
   width: 60%;
   margin:50px 100px 0px 100px;
   padding: 20px;
   background: #262626;
   border: 2px solid #18a300;
   border-radius: 30px;

}

#container_about img {
    width: 170px;
    height: 200px;
    border-radius: 20%;
    margin: 70px 0px 0px 10px;
    float: right;
}

#container_about img:hover {
    box-shadow: 0 0 3px 3px #18a300;
}

#container_about p {
    text-indent: 5%;
}

#container_about h3 {
    color: #c3f1bb;
    line-height: 0.5em;
    font-weight: bold;
    text-align: center;
   
}

.water {
    color: aqua;
    font-family:'Acme';
}

.gas {
    color: yellow;
    font-family:'Acme';
}

.electricity {
    color: green;
    font-family:'Acme';
}

.sewerage {
    color: brown;
    font-family:'Acme';
}

#container_hobbies {
    width: 70%;
    margin: 50px 0px 0px 360px;
    padding: 10px;
    background: #262626;
    border: 2px solid #18a300;
    border-radius: 30px;
   }

#container_hobbies img {
    width: 370px;
    height: 230px;
    border-radius: 30px;
    margin: 60px 15px 0px 10px;
    float: left;
    
}

#container_hobbies img:hover {
    box-shadow: 0 0 3px 3px #18a300;
}

#container_hobbies h3 {
    color: #c3f1bb;
    line-height: 0.5em;
    font-weight: bold;
    text-align: center; 
}

#container_hobbies p {
    text-indent: 5%;
}

#container_expertise {
    width: 40%;
    margin: 50px 0px 0px 763px;
    padding: 10px;
    background: #262626;
    border: 2px solid #18a300;
    border-radius: 30px;
}

#container_expertise td, th {
    border: 2px solid #c3f1bb;
    padding: 8px;
}

#container_expertise table {
    padding: 0;
    margin: 0px 5px 0px 40px;

}

#container_expertise h3 {
    color: #c3f1bb;
    font-weight: bold;
    text-align: center;
}

#container_expertise a {
    color:#18a300;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;     
}

#container_expertise a:hover {
    color: #ffffff;
    font-weight: bold;
}

#container_expertise img {
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

#container_expertise img:hover {
    box-shadow: 0 0 2px 1px #18a300;
}

#container_learning {
    width: 27%;
    margin: -384px 0px 150px 355px;
    padding: 10px;
    background: #262626;
    border: 2px solid #18a300;
    border-radius: 30px;
    position: absolute;
}

#container_learning td, th {
    border: 2px solid #c3f1bb;
    padding: 8px;
}

#container_learning table {
    padding: 0;
    margin-left: 30px;
    
}

#container_learning h3 {
    color: #c3f1bb;
    font-weight: bold;
    text-align: center;
}

#container_learning a {
    color:#18a300;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding-left: 10px;  
}

#container_learning a:hover {
    color: #c3f1bb;
    font-weight: bold;
}

#container_learning img {
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

#container_learning img:hover {
    box-shadow: 0 0 2px 1px #18a300;
}

#container_blogroll {
    width: 20%;
    margin: -384px 0px 0px 30px;
    padding: 10px;
    background: #262626;
    border: 2px solid #18a300;
    border-radius: 30px;
    height: 465px;
    position: absolute;
}

#container_blogroll h3 {
    color: #c3f1bb;
    font-weight: bold;
    text-align: center;
}

#container_blogroll a {
    color:#18a300;
    text-decoration: none;
    list-style: none;
    line-height: 28px;
    font-variant: small-caps;
    font-size: 24px;
}

#container_blogroll a:hover {
    color: #c3f1bb;
    font-weight: bold;
}

#container_blogroll li {
    list-style: none;
}


#container_blogroll p {
    color:#c3f1bb;
    font-variant: small-caps;
    margin-left: 40px;  
    line-height: 35px;
    font-size: 28px;
}

#container_copyright {
    background-color: #262626;
    color: #c3f1bb;
    margin-top: 200px;
    font-family:'Acme';
    border-top: 5px solid #18a300;
    width: 100%;
    height: 50px;
}

.copyright {
    margin: 15px 0px 0px 45%;
}

.follow {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: -68% 0px 0px 0px;
    
}

.follow img {
    width: 35px;
    border-radius: 5px;
}

.follow li {
    text-decoration: none;
    list-style: none;
    padding: 5px 5px 5px 0px;
}

.follow img:hover {
    box-shadow: 0 0 5px 5px #18a300;
}

#container_contact {
    width: 50%;
    margin: 50px 100px 100px 300px;
    padding: 20px;
    background: #262626;
    border: 2px solid #18a300;
    border-radius: 30px;
}

#container_contact h2 { 
    color: #c3f1bb;
    line-height: 0.5em;
    font-weight: bold;
    text-align: center; 
}

.contact label { 
    color: #c3f1bb;
    line-height: 50px;
    font-weight: bold;
    display: block;
}

.contact input [type="text"], #container_contact textarea { 
    padding: 8px;
    width: 95%;
    border-radius: 5px;
}

.button { 
    background-color: #18a300;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    display: block;
    width: 98%;
    font-family:'Acme';
    font-size: 20px;
}

.hr {
    margin-top: 30px;
    width: 580px;
}

.contact_follow img {
    width: 35px;
    border-radius: 5px;
}

.contact_follow li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 5px;
}

.contact_follow img:hover {
    box-shadow: 0 0 5px 5px #18a300;
}

.contact p { 
    color: #c3f1bb;
    line-height: 0.5em;
    font-weight: bold;
    margin-left: 45px;
}
